<nav class="nav-menu d-none d-lg-block">
    <ul>
        <li *ngIf="authorised"><a routerLink="">Home</a></li>
        <!-- <li><a>About</a></li> -->
        <li *ngIf="authorised" routerLink="/Tests" class="active"><a>Tests</a></li>
        <li *ngIf="authorised" routerLink="/NewTest" class="active"><a>New test</a></li>
        <li *ngIf="authorised" routerLink="/knowledge-graph"><a>Knowledge</a></li>
        <li *ngIf="authorised" routerLink="/graph-comparison"><a>Graph Comparison</a></li>
        <button *ngIf="authorised" (click)="logout()" class="active" class="get-started-btn">Logout</button>

        <a *ngIf="!authorised" routerLink="/register" class="active" class="get-started-btn">Get Started</a>
    </ul>

</nav>
<!-- .nav-menu -->