<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

        <h1 class="logo mr-auto"><a>Apollo</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->

        <app-navbar></app-navbar>

        <a routerLink="/register" class="active" class="get-started-btn">Get Started</a>

    </div>
</header>
<!-- End Header -->


<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="container">
            <h2>Student knowledge space</h2>
          
        </div>
    </div>
    <!-- End Breadcrumbs -->


    <div>
        <div style="display: block">
          <canvas baseChart
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [legend]="barChartLegend"
                  [colors]="barChartColors"
                  [options]="options"
                  chartType='bar'
                 >
          </canvas>
        </div>
      </div>




</main>
<!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer ">

    <div class="footer-top ">
        <div class="container ">
            <div class="row ">

                <div class="col-lg-3 col-md-6 footer-contact ">
                    <h3>Apollo</h3>
                    <p>
                        Trg Dositeja Obradovića 6 <br> Novi Sad 106314 <br> Serbia <br><br>
                        <strong>Phone:</strong> 021 123456<br>
                        <strong>Email:</strong> info@apollo.com<br>
                    </p>
                </div>

                <div class="col-lg-2 col-md-6 footer-links ">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right "></i> <a href="# ">Home</a></li>
                        <li><i class="bx bx-chevron-right "></i> <a href="# ">About us</a></li>
                        <li><i class="bx bx-chevron-right "></i> <a href="# ">Services</a></li>
                        <li><i class="bx bx-chevron-right "></i> <a href="# ">Terms of service</a></li>
                        <li><i class="bx bx-chevron-right "></i> <a href="# ">Privacy policy</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links ">
                    <h4>Our Services</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right "></i> <a href="# ">Web Design</a></li>
                        <li><i class="bx bx-chevron-right "></i> <a href="# ">Web Development</a></li>
                        <li><i class="bx bx-chevron-right "></i> <a href="# ">Product Management</a></li>
                        <li><i class="bx bx-chevron-right "></i> <a href="# ">Marketing</a></li>
                        <li><i class="bx bx-chevron-right "></i> <a href="# ">Graphic Design</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-newsletter ">
                    <h4>Join Our Newsletter</h4>
                    <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                    <form action=" " method="post ">
                        <input type="email " name="email "><input type="submit " value="Subscribe ">
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div class="container d-md-flex py-4 ">

        <div class="mr-md-auto text-center text-md-left ">
            <div class="copyright ">
                &copy; Copyright <strong><span>Mentor</span></strong>. All Rights Reserved
            </div>
            <div class="credits ">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/ -->
                Designed by <a href="https://bootstrapmade.com/ ">BootstrapMade</a> Icons made by <a
                    href="https://www.flaticon.com/authors/freepik " title="Freepik ">Freepik</a> from <a
                    href="https://www.flaticon.com/ " title="Flaticon "> www.flaticon.com</a>
            </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0 ">
            <a href="# " class="twitter "><i class="bx bxl-twitter "></i></a>
            <a href="# " class="facebook "><i class="bx bxl-facebook "></i></a>
            <a href="# " class="instagram "><i class="bx bxl-instagram "></i></a>
            <a href="# " class="google-plus "><i class="bx bxl-skype "></i></a>
            <a href="# " class="linkedin "><i class="bx bxl-linkedin "></i></a>
        </div>
    </div>
</footer>
<!-- End Footer -->

<a href="# " class="back-to-top "><i class="bx bx-up-arrow-alt "></i></a>
<div id="preloader "></div>s