<h1 mat-dialog-title>New Link</h1>
<div mat-dialog-content>
    <p>Enter Source:</p>

    <mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Source</mat-label>
            <mat-select [(value)]="selected.source">
                <mat-option *ngFor="let node of data.nodes" [value]="node.id">
                    {{node.id}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-form-field>
    <p>Enter Target:</p>

    <mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Target</mat-label>
            <mat-select [(value)]="selected.target">
                <mat-option *ngFor="let node of data.nodes" [value]="node.id">
                    {{node.id}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="selected" cdkFocusInitial>Ok</button>
</div>